@import 'tailwindcss';
@import 'tailwindcss/preflight';
@tailwind utilities;

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  /* Font sizes */
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-sm: 4px;
  --border-radius-md: 5px;
  --border-radius-lg: 6px;

  /* Box shadow */
  --box-shadow-color: rgba(0, 0, 0, 0.05);
  --box-shadow-sm: 0px 2px 4px var(--box-shadow-color);
  --box-shadow-md: 0px 2px 8px var(--box-shadow-color);
  --box-shadow-lg: 0px 2px 8px var(--box-shadow-color);

  --color-primary: #4f46e5;
  --color-text-primary: #fff;
  --color-text-secondary: black;

  --bg-color-primary: #fff;
  --bg-color-secondary: #f8f9fa;
  --bg-color-hover: #f9fafb;
}

html,
body {
  height: 100%;
  @apply bg-white dark:bg-gray-950;

  .app-container {
    min-height: 100vh;

    .app-navbar-main {
      width: 100%;
      height: 64px;
      padding: 0 24px;
      background-color: var(--bg-color-primary);
      box-shadow: var(--box-shadow-sm);

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }

    .app-sidebar {
      width: 250px;
      height: 100vh;
      background-color: var(--bg-color-primary);
      color: var(--color-text-secondary);
      flex-shrink: 0;
      transition: width 0.5s ease-in;

      .app-sidebar-header {
        padding: 17px;
        box-shadow: var(--box-shadow-sm);
        border-right: 1px solid var(--box-shadow-color);
        white-space: nowrap;

        .app-sidebar-toggle {
          padding: 5px;
          border-radius: var(--border-radius-sm);
          transition: ease-in 0.3s;

          &:hover {
            background-color: var(--bg-color-hover);
          }
        }
      }
    }

    .app-sidebar--collapsed {
      width: 70px;
    }

    .app-sidebar-navigation-item {
      padding: 10px;
      margin: 10px;
      border-radius: var(--border-radius-sm);
    }

    .app-sidebar-navigation-item:hover {
      background-color: var(--bg-color-hover);
    }

    .app-sidebar-navigation-item:active {
      color: var(--color-text-primary);
      background-color: var(--color-primary);
    }

    .app-sidebar-navigation-item svg {
      flex-shrink: 0;
    }

    .app-content {
      flex: 1;
      background-color: var(--bg-color-secondary);
      overflow-y: auto;
    }
  }

  .app-dropdown {
    padding: 6px;
    border-radius: var(--border-radius-lg);
    transition: ease-in 0.3s;

    &:hover {
      background-color: var(--bg-color-hover);
    }
  }

  .app-dropdown-menu {
    width: 200px;
    margin: 8px 0;
    padding: 8px 0;
    background-color: var(--bg-color-primary);
    box-shadow: var(--box-shadow-sm);
    border-radius: var(--border-radius-lg);

    .app-dropdown-menu-item {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: start;
      transition: ease-in 0.3s;

      &:hover {
        background-color: var(--bg-color-hover);
      }
    }
  }

  .app-search-input {
    width: 100%;
    padding: 6px 10px 6px 36px;
    border: 1px solid var(--box-shadow-color);
    border-radius: var(--border-radius-lg);
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
